fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic==2.9.2
python-dotenv==1.0.1

# LangChain + vector store + parsing
langchain==0.3.1
langchain-community==0.3.1
chromadb==0.5.5
pypdf==5.0.0
langchain-openai
langchain_core
langchain-text-splitters

# Providers
openai==1.44.0
httpx==0.27.2

# Optional local embeddings
sentence-transformers==3.0.1
torch==2.3.1
